@import 'tailwindcss';

@theme {
  --color-primary: #3a7bd5;
  /* #4d6bfe; */
}

html {
  @apply scroll-smooth;
}

::-webkit-scrollbar {
  display: none;
}

.loader div:nth-child(2) {
  animation-delay: 0.2s;
}

.loader div:nth-child(3) {
  animation-delay: 0.4s;
}

code {
  white-space: pre-wrap !important;
}

pre {
  border-radius: 10px !important;
}

body {
  background: #0b0c0d;
  color: #ececec;
}

@layer utilities {
  .font-head {
    @apply font-['Syne'];
  }
}